node_modules
package-lock.json
/out
/build
/target
.lein-repl-history
.nrepl-port
/doc/api
.lumo_cache
.cpcache
.idea
.rebel_readline_history
closh.iml
yarn-error.log
/hs_err_*
.clj-kondo
closh-zero-sci
reports
*.zip
src/sci
